.main__title {
	display: none;
}

@media screen and (min-width: 768px) {
	.main__title {
		position: fixed;
		top: 100px;
		left: 0;

		display: block;
		padding-left: 30px;

		color: #ffffff;
		font-size: 60px;
	}
}
