@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0;

	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	width: 100%;
	margin-inline: auto;
	padding: 15px;

	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-block: 0;
}

@media screen and (min-width: 768px) {
	body {
		background-image: url('./img/bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}

	main {
		display: flex;
		min-height: 92vh;
	}

	.container {
		width: 40%;
		margin-inline: 0;
		margin-left: auto;
	}
}
